<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= locals.description %>">

    <!-- Express static folder is setted to the public folder inside the public folder there are js, img and css folders -->
    <link rel="stylesheet" href="<%-url%>/css/output.css"> 
    <script type="text/javascript" defer src="/js/script.js"></script>

    <title><%= locals.title %></title>
</head>

<body>
    <p class="text-orange-700"><%-url%></p>

    <div class="container">
        <%- include('../partials/header.ejs') %>

        <main class="main">
            <!-- Layout to be used - specified in app.js -->
            <%- body %>
        </main>

        <%- include('../partials/footer.ejs') %>
    </div>
    
</body>
</html>